[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
pymongo = "*"
pytest = "*"
pytest-cov = "*"
pytest-testmon = "*"
pytest-json-report = "*"
pytest-timeout = "*"
pytest-repeat = "*"
paramiko = "*"
pytest-dependency = "*"
pytest-rerunfailures = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
